/* untuk warna */

:root{
    --color-dark: #b11630;
    --color-medium: #ffcc00;
    --color-light: #f5f5f5;
    --color-light2: #fff;
    --color-gray:#9aa5ad;
    --color-gray2: #7c868d;
    --color-dg: #7a7a7b;
}